<div class="container">

  <div class="question">
    <%= @question %>
    <br>
    <%= "- You" %>
  </div>

  <div class="answer">
  <%= @answer %>
  <br>
  <%= "- Your coach" %>
  <br>
  </div>
  <div class="link">
  <%= link_to "Ask your coach questions", ask_path%>
  </div>
</div>
